<header id="masthead" class="sheader site-header clearfix">
    <div class="content-wrap-menu">
        <div class="site-branding">
            <p class="site-title"><a href="https://ritu-kundu.github.io/" rel="home">Ritu Kundu</a></p>
            <p class="site-description">अनुसन्धान | अभिज्ञान || अभिवृद्धि |||</p>
        </div>
        <nav id="primary-site-navigation" class="primary-menu main-navigation clearfix">
            <a href="#" id="pull" class="smenu-hide toggle-mobile-menu menu-toggle" aria-controls="secondary-menu" aria-expanded="false">Menu</a>
            <div class="content-wrap text-center"><div class="center-main-menu"><div class="menu-primary-container">
                <ul id="primary-menu" class="pmenu">
                    <li id="menu-item-15" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15"><a href="/">Home</a></li>
                    <li id="menu-item-2813" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2813"><a href="/publications/">Publications</a></li>
                    <li id="menu-item-2815" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2815"><a href="/cv/">CV</a>
                        <ul class="sub-menu">
                            <li id="menu-item-2913" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2913"><a href="/cv/activities/">Activities</a></li>
                            <li id="menu-item-3001" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3001"><a href="/cv/awards-grants/">Awards & Grants</a></li>
                            <li id="menu-item-2914" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2914"><a href="/cv/education/">Education</a></li>
                            <li id="menu-item-2965" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2965"><a href="/cv/work-experience/">Work Experience</a></li>
                        </ul></li>
                    <li id="menu-item-2806" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2806"><a href="/blog/">Blog</a></li>
                    <li id="menu-item-3008" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3008"><a href="/seminars/">Seminars</a></li>
                    <li id="menu-item-2814" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2814"><a href="/software/">Software</a></li>
                    <li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16"><a href="/gallery/">Gallery</a></li>
                    <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a target="_blank" rel="noopener" href="/contact/">Contact</a></li>
                </ul>
            </div> </div> </div>
        </nav>
    </div>
    <div class="super-menu clearfix">
        <div class="super-menu-inner">
            <a href="#" id="pull" class="toggle-mobile-menu menu-toggle" aria-controls="secondary-menu" aria-expanded="false">Menu</a>
        </div>
    </div>
    <div id="mobile-menu-overlay"></div>
</header>